<table mat-table [dataSource]="truckLoadDataSource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="loadId">
      <th mat-header-cell *matHeaderCellDef> Load ID </th>
      <td mat-cell *matCellDef="let element"> {{element.loadId}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="pickupDate">
      <th mat-header-cell *matHeaderCellDef> Pickup Date </th>
      <td mat-cell *matCellDef="let element"> {{element.pickupDate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="pickupLocation">
      <th mat-header-cell *matHeaderCellDef> Pickup Location </th>
      <td mat-cell *matCellDef="let element"> {{element.pickupLocation}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="dropDate">
      <th mat-header-cell *matHeaderCellDef> Drop Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dropDate}} </td>
    </ng-container>

    
    <ng-container matColumnDef="dropLocation">
      <th mat-header-cell *matHeaderCellDef> Drop Location </th>
      <td mat-cell *matCellDef="let element"> {{element.dropLocation}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="itemType">
      <th mat-header-cell *matHeaderCellDef> Item Type </th>
      <td mat-cell *matCellDef="let element"> {{element.itemType}} </td>
    </ng-container>

    
    <ng-container matColumnDef="driverId">
      <th mat-header-cell *matHeaderCellDef> Driver ID </th>
      <td mat-cell *matCellDef="let element"> {{element.driverId}} </td>
    </ng-container>

    
    <ng-container matColumnDef="bookingStatus">
      <th mat-header-cell *matHeaderCellDef> Booking Status </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingStatus}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Operations">
      <th mat-header-cell *matHeaderCellDef> Operations </th>
      <td mat-cell *matCellDef="let element" >  <button mat-raised-button color="warn" *ngIf="element.bookingStatus == null"
        (click)="cancel(element.loadId)"
      >
        Cancel
      </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Exit</button>
</div>