.example-spacer {
    flex: 1 1 auto;
  }
  
  .search{
    margin-right: 20px;
  }

  .booked{
    margin-right: 20px;
  }

  .intransit{
     margin-right: 20px;
  }
  .completed{
    margin-right: 20px;
  }